In [1]:
import wrf_management.project_global_constants as gc

In [2]:
from wrf_management.run_utilities import get_1_df, is_log_success_from_row, update_rows

In [3]:
import importlib
import wrf_management.run_utilities as ru
importlib.reload(ru)
from wrf_management.run_utilities import get_1_df, is_log_success_from_row, update_rows

In [4]:
tb_name = gc.RUN_NAME
run_name = gc.RUN_NAME
ungrib_type = 'ungrib_surf'

ungrib_type = 'ungrib_press'

log_name = 'ungrib.log'
succes_str = '*** Successful completion of program ungrib.exe ***'

ungrib_type = 'ungrib_avgtsfc'
log_name = 'avg_tsfc.log'
succes_str = '*** Successful completion of program avg_tsfc.exe ***'

ungrib_type = 'metgrid'
log_name = 'metgrid.log'
succes_str = '*** Successful completion of program metgrid.exe ***'

In [5]:
df = get_1_df(tb_name, ungrib_type,lim=150)

In [6]:
print(len(df))
df.sample()

19

,date,ungrib_surf,ungrib_press,ungrib_avgtsfc,metgrid,real
12,2018-05-26 00:00:00,200,200,200,100,0

In [7]:
row = df.iloc[2]
success = is_log_success_from_row(log_name, row, run_name, succes_str, ungrib_type)
success

True

In [8]:
res = df.apply(
    lambda row: is_log_success_from_row(log_name, row, run_name, succes_str, ungrib_type),
    axis=1
)

df['success'] = res
df

,date,ungrib_surf,ungrib_press,ungrib_avgtsfc,metgrid,real,success
0,2017-12-01 00:00:00,5,5,5,6,50,False
1,2018-05-15 00:00:00,200,200,200,100,0,True
2,2018-05-16 00:00:00,200,200,200,100,0,True
3,2018-05-17 00:00:00,200,200,200,100,0,True
4,2018-05-18 00:00:00,200,200,200,100,0,True
5,2018-05-19 00:00:00,200,200,200,100,0,True
6,2018-05-20 00:00:00,200,200,200,100,0,True
7,2018-05-21 00:00:00,200,200,200,100,0,True
8,2018-05-22 00:00:00,200,200,200,100,0,True
9,2018-05-23 00:00:00,200,200,200,100,0,True
10,2018-05-24 00:00:00,200,200,200,100,0,True
11,2018-05-25 00:00:00,200,200,200,100,0,True
12,2018-05-26 00:00:00,200,200,200,100,0,True
13,2018-05-27 00:00:00,200,200,200,100,0,True
14,2018-05-28 00:00:00,200,200,200,100,0,True
15,2018-05-29 00:00:00,200,200,200,100,0,True
16,2018-05-30 00:00:00,200,200,200,100,0,True
17,2018-05-31 00:00:00,200,200,200,100,0,True
18,2018-06-01 00:00:00,200,200,200,100,0,True

In [9]:
res = df.apply(
    lambda row: update_rows(row, tb_name=tb_name, ungrib_type=ungrib_type, true_val=200) ,
    axis=1
)

In [ ]:


row = df.iloc[20]